@page "/product"
@inject IProductRepository _iproductRepository
@inject IJSRuntime _jsruntime

<_DeleteConfirmation IsParentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"/>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">Product List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="product/create" class="btn btn-info form-control">Add New Product</a>
    </div>

    <div class="col-12">
        @if (Products.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Shop Favorites</th>
                            <th>Customer Favorites</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var prod in Products)
                        {
                            <tr>
                                <td>@prod.Name</td>
                                <td>
                                    <input type="checkbox" disabled checked="@prod.ShopFavorites" />
                                </td>
                                <td>
                                    <input type="checkbox" disabled checked="@prod.CustomerFavorites" />
                                </td>
                                <td>@prod.Category.Name</td>
                                <td class="btn-group">
                                    <NavLink href="@($"product/edit/{prod.Id}")" style="width:150px" class="btn btn-primary">Update</NavLink>
                                    <NavLink style="width:150px" @onclick="()=>HandleDelete(prod.Id)" class="btn btn-danger">Delete</NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                if (IsLoading)
                {
                    <div class="text-center">
                        <img src="/Images/loading.gif" />
                    </div>
                }
                else
                {
                    <p>No records found...</p>
                }
            }
    </div>
</div>

@code {
    private IEnumerable<ProductDto>? Products { get; set; } = new List<ProductDto>();
    public bool IsLoading { get; set; }
    public int DeleteProductId { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
        }

    }

    private async Task LoadProducts()
    {
        IsLoading = true;
        StateHasChanged();
        Products = await _iproductRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private void HandleDelete(int id)
    {
        DeleteProductId = id;
        _jsruntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;

        if (isConfirmed && DeleteProductId != 0)
        {

            await _iproductRepository.Delete(DeleteProductId);
            await LoadProducts();
            await _jsruntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }

        IsLoading = false;
    }
}

